In [455]:
import pandas as pd

# Merge HTS  and PMTCT data
hts_df = pd.read_csv('./clean_data/clean_hts.csv')
pmtct_df = pd.read_csv('./clean_data/merged_pmtct.csv')

# hts_merged = pd.concat([hts_migori, hts_kakamega], ignore_index=True)
hts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6232 entries, 0 to 6231
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   facilityuid  6232 non-null   object
 1   facility     6232 non-null   object
 2   code         6232 non-null   int64
 3   ward         6232 non-null   object
 4   sub_county   6232 non-null   object
 5   county       6232 non-null   object
 6   indicator    6232 non-null   object
 7   period       6232 non-null   object
 8   dhis2_value  6232 non-null   int64
 9   datim_value  6232 non-null   float64
 10  gender       6232 non-null   object
 11  age          6232 non-null   object
dtypes: float64(1), int64(2), object(9)
memory usage: 584.4+ KB

In [429]:
hts_df = hts_df.groupby(['facilityuid', 'period']).agg({'dhis2_value': 'sum', 'datim_value': 'sum'})

hts_df

                    dhis2_value  datim_value
facilityuid period
AKCk8JAY0dK 2019Q4          168        200.0
            2020Q1          234        280.0
            2020Q2          101        149.0
AbSJUr5oge2 2019Q4          322        541.0
            2020Q1          415        683.0
...                         ...          ...
zvicDsjeRbr 2020Q1           32         44.0
            2020Q2           21         52.0
zwV7ekHDAwe 2019Q4          739        890.0
            2020Q1          455        510.0
            2020Q2          396        333.0

[858 rows x 2 columns]

In [430]:
hts_df = hts_df.reset_index()
hts_df

     facilityuid  period  dhis2_value  datim_value
0    AKCk8JAY0dK  2019Q4          168        200.0
1    AKCk8JAY0dK  2020Q1          234        280.0
2    AKCk8JAY0dK  2020Q2          101        149.0
3    AbSJUr5oge2  2019Q4          322        541.0
4    AbSJUr5oge2  2020Q1          415        683.0
..           ...     ...          ...          ...
853  zvicDsjeRbr  2020Q1           32         44.0
854  zvicDsjeRbr  2020Q2           21         52.0
855  zwV7ekHDAwe  2019Q4          739        890.0
856  zwV7ekHDAwe  2020Q1          455        510.0
857  zwV7ekHDAwe  2020Q2          396        333.0

[858 rows x 4 columns]

In [431]:
hts_df = hts_df.rename(columns={'dhis2_value': 'total_dhis2_value_hts', 'datim_value': 'total_datim_value_hts'})
hts_df

     facilityuid  period  total_dhis2_value_hts  total_datim_value_hts
0    AKCk8JAY0dK  2019Q4                    168                  200.0
1    AKCk8JAY0dK  2020Q1                    234                  280.0
2    AKCk8JAY0dK  2020Q2                    101                  149.0
3    AbSJUr5oge2  2019Q4                    322                  541.0
4    AbSJUr5oge2  2020Q1                    415                  683.0
..           ...     ...                    ...                    ...
853  zvicDsjeRbr  2020Q1                     32                   44.0
854  zvicDsjeRbr  2020Q2                     21                   52.0
855  zwV7ekHDAwe  2019Q4                    739                  890.0
856  zwV7ekHDAwe  2020Q1                    455                  510.0
857  zwV7ekHDAwe  2020Q2                    396                  333.0

[858 rows x 4 columns]

In [432]:
hts_df['difference_hts'] = hts_df['total_dhis2_value_hts'] - hts_df['total_datim_value_hts']
hts_df

,facilityuid,period,total_dhis2_value_hts,total_datim_value_hts,difference_hts
0,AKCk8JAY0dK,2019Q4,168,200.0,-32.0
1,AKCk8JAY0dK,2020Q1,234,280.0,-46.0
2,AKCk8JAY0dK,2020Q2,101,149.0,-48.0
3,AbSJUr5oge2,2019Q4,322,541.0,-219.0
4,AbSJUr5oge2,2020Q1,415,683.0,-268.0
...,...,...,...,...,...
853,zvicDsjeRbr,2020Q1,32,44.0,-12.0
854,zvicDsjeRbr,2020Q2,21,52.0,-31.0
855,zwV7ekHDAwe,2019Q4,739,890.0,-151.0
856,zwV7ekHDAwe,2020Q1,455,510.0,-55.0
857,zwV7ekHDAwe,2020Q2,396,333.0,63.0

In [433]:
hts_df['percentage_difference_hts'] = abs(hts_df['difference_hts'] / hts_df['total_datim_value_hts'] * 100)
hts_df

,facilityuid,period,total_dhis2_value_hts,total_datim_value_hts,difference_hts,percentage_difference_hts
0,AKCk8JAY0dK,2019Q4,168,200.0,-32.0,16.000000
1,AKCk8JAY0dK,2020Q1,234,280.0,-46.0,16.428571
2,AKCk8JAY0dK,2020Q2,101,149.0,-48.0,32.214765
3,AbSJUr5oge2,2019Q4,322,541.0,-219.0,40.480591
4,AbSJUr5oge2,2020Q1,415,683.0,-268.0,39.238653
...,...,...,...,...,...,...
853,zvicDsjeRbr,2020Q1,32,44.0,-12.0,27.272727
854,zvicDsjeRbr,2020Q2,21,52.0,-31.0,59.615385
855,zwV7ekHDAwe,2019Q4,739,890.0,-151.0,16.966292
856,zwV7ekHDAwe,2020Q1,455,510.0,-55.0,10.784314
857,zwV7ekHDAwe,2020Q2,396,333.0,63.0,18.918919

# PMTCT

In [434]:
# hts_merged = pd.concat([hts_migori, hts_kakamega], ignore_index=True)
pmtct_df.head()

,facilityuid,facility,code,ward,sub_county,county,indicator,indicator_name,period,dhis2_value,datim_value
0,SZnkrFoimi2,Kugitimo Health Centre,13723.0,Nyabasi east Ward,Kuria East Sub County,Migori County,ETX9cUWF43c,MOH 731 Initial test at ANC HV02-04,2020Q1,64.0,64.0
1,xt2lltkTLza,Ntimaru Sub-District Hospital,13858.0,Ntimaru west Ward,Kuria East Sub County,Migori County,ETX9cUWF43c,MOH 731 Initial test at ANC HV02-04,2019Q4,119.0,124.0
2,NoZjHcIDHGW,Kegonga District Hospital,13663.0,Nyabasi east Ward,Kuria East Sub County,Migori County,qSgLzXh46n9,MOH 731 Known Positive at 1st ANC HV02-03,2020Q2,1.0,1.0
3,SZnkrFoimi2,Kugitimo Health Centre,13723.0,Nyabasi east Ward,Kuria East Sub County,Migori County,ETX9cUWF43c,MOH 731 Initial test at ANC HV02-04,2020Q2,46.0,45.0
4,xt2lltkTLza,Ntimaru Sub-District Hospital,13858.0,Ntimaru west Ward,Kuria East Sub County,Migori County,ETX9cUWF43c,MOH 731 Initial test at ANC HV02-04,2020Q1,194.0,191.0

In [435]:
pmtct_df = pmtct_df.groupby(['facilityuid', 'period']).agg({'dhis2_value': 'sum', 'datim_value': 'sum'})

pmtct_df

                    dhis2_value  datim_value
facilityuid period
AKCk8JAY0dK 2019Q4         31.0         31.0
            2020Q1         46.0         46.0
            2020Q2         49.0         49.0
AbSJUr5oge2 2019Q4        217.0        213.0
            2020Q1        272.0        267.0
...                         ...          ...
zvicDsjeRbr 2020Q1         20.0         20.0
            2020Q2         31.0         29.0
zwV7ekHDAwe 2019Q4         66.0         66.0
            2020Q1         93.0         85.0
            2020Q2         57.0         56.0

[821 rows x 2 columns]

In [436]:
pmtct_df = pmtct_df.reset_index()
pmtct_df

     facilityuid  period  dhis2_value  datim_value
0    AKCk8JAY0dK  2019Q4         31.0         31.0
1    AKCk8JAY0dK  2020Q1         46.0         46.0
2    AKCk8JAY0dK  2020Q2         49.0         49.0
3    AbSJUr5oge2  2019Q4        217.0        213.0
4    AbSJUr5oge2  2020Q1        272.0        267.0
..           ...     ...          ...          ...
816  zvicDsjeRbr  2020Q1         20.0         20.0
817  zvicDsjeRbr  2020Q2         31.0         29.0
818  zwV7ekHDAwe  2019Q4         66.0         66.0
819  zwV7ekHDAwe  2020Q1         93.0         85.0
820  zwV7ekHDAwe  2020Q2         57.0         56.0

[821 rows x 4 columns]

In [437]:
pmtct_df = pmtct_df.rename(columns={'dhis2_value': 'total_dhis2_value_pmtct', 'datim_value': 'total_datim_value_pmtct'})
pmtct_df

     facilityuid  period  total_dhis2_value_pmtct  total_datim_value_pmtct
0    AKCk8JAY0dK  2019Q4                     31.0                     31.0
1    AKCk8JAY0dK  2020Q1                     46.0                     46.0
2    AKCk8JAY0dK  2020Q2                     49.0                     49.0
3    AbSJUr5oge2  2019Q4                    217.0                    213.0
4    AbSJUr5oge2  2020Q1                    272.0                    267.0
..           ...     ...                      ...                      ...
816  zvicDsjeRbr  2020Q1                     20.0                     20.0
817  zvicDsjeRbr  2020Q2                     31.0                     29.0
818  zwV7ekHDAwe  2019Q4                     66.0                     66.0
819  zwV7ekHDAwe  2020Q1                     93.0                     85.0
820  zwV7ekHDAwe  2020Q2                     57.0                     56.0

[821 rows x 4 columns]

In [438]:
pmtct_df['difference_pmtct'] = pmtct_df['total_dhis2_value_pmtct'] - pmtct_df['total_datim_value_pmtct']
pmtct_df

,facilityuid,period,total_dhis2_value_pmtct,total_datim_value_pmtct,difference_pmtct
0,AKCk8JAY0dK,2019Q4,31.0,31.0,0.0
1,AKCk8JAY0dK,2020Q1,46.0,46.0,0.0
2,AKCk8JAY0dK,2020Q2,49.0,49.0,0.0
3,AbSJUr5oge2,2019Q4,217.0,213.0,4.0
4,AbSJUr5oge2,2020Q1,272.0,267.0,5.0
...,...,...,...,...,...
816,zvicDsjeRbr,2020Q1,20.0,20.0,0.0
817,zvicDsjeRbr,2020Q2,31.0,29.0,2.0
818,zwV7ekHDAwe,2019Q4,66.0,66.0,0.0
819,zwV7ekHDAwe,2020Q1,93.0,85.0,8.0
820,zwV7ekHDAwe,2020Q2,57.0,56.0,1.0

In [439]:
pmtct_df['percentage_difference_pmtct'] = abs(pmtct_df['difference_pmtct'] / pmtct_df['total_datim_value_pmtct'] * 100)
pmtct_df

,facilityuid,period,total_dhis2_value_pmtct,total_datim_value_pmtct,difference_pmtct,percentage_difference_pmtct
0,AKCk8JAY0dK,2019Q4,31.0,31.0,0.0,0.000000
1,AKCk8JAY0dK,2020Q1,46.0,46.0,0.0,0.000000
2,AKCk8JAY0dK,2020Q2,49.0,49.0,0.0,0.000000
3,AbSJUr5oge2,2019Q4,217.0,213.0,4.0,1.877934
4,AbSJUr5oge2,2020Q1,272.0,267.0,5.0,1.872659
...,...,...,...,...,...,...
816,zvicDsjeRbr,2020Q1,20.0,20.0,0.0,0.000000
817,zvicDsjeRbr,2020Q2,31.0,29.0,2.0,6.896552
818,zwV7ekHDAwe,2019Q4,66.0,66.0,0.0,0.000000
819,zwV7ekHDAwe,2020Q1,93.0,85.0,8.0,9.411765
820,zwV7ekHDAwe,2020Q2,57.0,56.0,1.0,1.785714

# Merge PMTCT and HTS

In [440]:
merged_df = pd.merge(hts_df, pmtct_df, on=["facilityuid","period"])
merged_df

,facilityuid,period,total_dhis2_value_hts,total_datim_value_hts,difference_hts,percentage_difference_hts,total_dhis2_value_pmtct,total_datim_value_pmtct,difference_pmtct,percentage_difference_pmtct
0,AKCk8JAY0dK,2019Q4,168,200.0,-32.0,16.000000,31.0,31.0,0.0,0.000000
1,AKCk8JAY0dK,2020Q1,234,280.0,-46.0,16.428571,46.0,46.0,0.0,0.000000
2,AKCk8JAY0dK,2020Q2,101,149.0,-48.0,32.214765,49.0,49.0,0.0,0.000000
3,AbSJUr5oge2,2019Q4,322,541.0,-219.0,40.480591,217.0,213.0,4.0,1.877934
4,AbSJUr5oge2,2020Q1,415,683.0,-268.0,39.238653,272.0,267.0,5.0,1.872659
...,...,...,...,...,...,...,...,...,...,...
816,zvicDsjeRbr,2020Q1,32,44.0,-12.0,27.272727,20.0,20.0,0.0,0.000000
817,zvicDsjeRbr,2020Q2,21,52.0,-31.0,59.615385,31.0,29.0,2.0,6.896552
818,zwV7ekHDAwe,2019Q4,739,890.0,-151.0,16.966292,66.0,66.0,0.0,0.000000
819,zwV7ekHDAwe,2020Q1,455,510.0,-55.0,10.784314,93.0,85.0,8.0,9.411765
820,zwV7ekHDAwe,2020Q2,396,333.0,63.0,18.918919,57.0,56.0,1.0,1.785714

In [441]:
# calculate mean
cutoff = merged_df["percentage_difference_hts"].median()
print(cutoff)
z = merged_df[merged_df['percentage_difference_hts'] > cutoff]
z

28.64864864864865

,facilityuid,period,total_dhis2_value_hts,total_datim_value_hts,difference_hts,percentage_difference_hts,total_dhis2_value_pmtct,total_datim_value_pmtct,difference_pmtct,percentage_difference_pmtct
2,AKCk8JAY0dK,2020Q2,101,149.0,-48.0,32.214765,49.0,49.0,0.0,0.000000
3,AbSJUr5oge2,2019Q4,322,541.0,-219.0,40.480591,217.0,213.0,4.0,1.877934
4,AbSJUr5oge2,2020Q1,415,683.0,-268.0,39.238653,272.0,267.0,5.0,1.872659
5,AbSJUr5oge2,2020Q2,255,483.0,-228.0,47.204969,229.0,223.0,6.0,2.690583
6,B8Y8xuk4MFf,2019Q4,303,487.0,-184.0,37.782341,42.0,40.0,2.0,5.000000
...,...,...,...,...,...,...,...,...,...,...
812,zsswqbRZEzQ,2019Q4,108,165.0,-57.0,34.545455,57.0,57.0,0.0,0.000000
813,zsswqbRZEzQ,2020Q1,106,192.0,-86.0,44.791667,86.0,85.0,1.0,1.176471
814,zsswqbRZEzQ,2020Q2,62,133.0,-71.0,53.383459,72.0,71.0,1.0,1.408451
815,zvicDsjeRbr,2019Q4,51,72.0,-21.0,29.166667,23.0,23.0,0.0,0.000000
817,zvicDsjeRbr,2020Q2,21,52.0,-31.0,59.615385,31.0,29.0,2.0,6.896552

In [442]:
# define a lambda function with if-else conditions
merged_df['accept'] = merged_df['percentage_difference_hts'].apply(lambda x: 'yes' if x < cutoff else 'no')
merged_df

,facilityuid,period,total_dhis2_value_hts,total_datim_value_hts,difference_hts,percentage_difference_hts,total_dhis2_value_pmtct,total_datim_value_pmtct,difference_pmtct,percentage_difference_pmtct,accept
0,AKCk8JAY0dK,2019Q4,168,200.0,-32.0,16.000000,31.0,31.0,0.0,0.000000,yes
1,AKCk8JAY0dK,2020Q1,234,280.0,-46.0,16.428571,46.0,46.0,0.0,0.000000,yes
2,AKCk8JAY0dK,2020Q2,101,149.0,-48.0,32.214765,49.0,49.0,0.0,0.000000,no
3,AbSJUr5oge2,2019Q4,322,541.0,-219.0,40.480591,217.0,213.0,4.0,1.877934,no
4,AbSJUr5oge2,2020Q1,415,683.0,-268.0,39.238653,272.0,267.0,5.0,1.872659,no
...,...,...,...,...,...,...,...,...,...,...,...
816,zvicDsjeRbr,2020Q1,32,44.0,-12.0,27.272727,20.0,20.0,0.0,0.000000,yes
817,zvicDsjeRbr,2020Q2,21,52.0,-31.0,59.615385,31.0,29.0,2.0,6.896552,no
818,zwV7ekHDAwe,2019Q4,739,890.0,-151.0,16.966292,66.0,66.0,0.0,0.000000,yes
819,zwV7ekHDAwe,2020Q1,455,510.0,-55.0,10.784314,93.0,85.0,8.0,9.411765,yes
820,zwV7ekHDAwe,2020Q2,396,333.0,63.0,18.918919,57.0,56.0,1.0,1.785714,yes

In [443]:
len(merged_df[merged_df['accept'] == 'no'])

411

In [444]:
rejected = merged_df[merged_df['accept'] == 'no']
rejected

,facilityuid,period,total_dhis2_value_hts,total_datim_value_hts,difference_hts,percentage_difference_hts,total_dhis2_value_pmtct,total_datim_value_pmtct,difference_pmtct,percentage_difference_pmtct,accept
2,AKCk8JAY0dK,2020Q2,101,149.0,-48.0,32.214765,49.0,49.0,0.0,0.000000,no
3,AbSJUr5oge2,2019Q4,322,541.0,-219.0,40.480591,217.0,213.0,4.0,1.877934,no
4,AbSJUr5oge2,2020Q1,415,683.0,-268.0,39.238653,272.0,267.0,5.0,1.872659,no
5,AbSJUr5oge2,2020Q2,255,483.0,-228.0,47.204969,229.0,223.0,6.0,2.690583,no
6,B8Y8xuk4MFf,2019Q4,303,487.0,-184.0,37.782341,42.0,40.0,2.0,5.000000,no
...,...,...,...,...,...,...,...,...,...,...,...
812,zsswqbRZEzQ,2019Q4,108,165.0,-57.0,34.545455,57.0,57.0,0.0,0.000000,no
813,zsswqbRZEzQ,2020Q1,106,192.0,-86.0,44.791667,86.0,85.0,1.0,1.176471,no
814,zsswqbRZEzQ,2020Q2,62,133.0,-71.0,53.383459,72.0,71.0,1.0,1.408451,no
815,zvicDsjeRbr,2019Q4,51,72.0,-21.0,29.166667,23.0,23.0,0.0,0.000000,no
817,zvicDsjeRbr,2020Q2,21,52.0,-31.0,59.615385,31.0,29.0,2.0,6.896552,no

In [445]:

if (rejected['difference_hts'] < 0).any():
    rejected['new_difference'] = rejected['total_dhis2_value_pmtct'] + rejected['difference_hts']
else:
    rejected['new_difference'] = rejected['total_datim_value_pmtct'] + rejected['difference_hts']

rejected

/tmp/ipykernel_56858/2404883427.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rejected['new_difference'] = rejected['total_dhis2_value_pmtct'] + rejected['difference_hts']

,facilityuid,period,total_dhis2_value_hts,total_datim_value_hts,difference_hts,percentage_difference_hts,total_dhis2_value_pmtct,total_datim_value_pmtct,difference_pmtct,percentage_difference_pmtct,accept,new_difference
2,AKCk8JAY0dK,2020Q2,101,149.0,-48.0,32.214765,49.0,49.0,0.0,0.000000,no,1.0
3,AbSJUr5oge2,2019Q4,322,541.0,-219.0,40.480591,217.0,213.0,4.0,1.877934,no,-2.0
4,AbSJUr5oge2,2020Q1,415,683.0,-268.0,39.238653,272.0,267.0,5.0,1.872659,no,4.0
5,AbSJUr5oge2,2020Q2,255,483.0,-228.0,47.204969,229.0,223.0,6.0,2.690583,no,1.0
6,B8Y8xuk4MFf,2019Q4,303,487.0,-184.0,37.782341,42.0,40.0,2.0,5.000000,no,-142.0
...,...,...,...,...,...,...,...,...,...,...,...,...
812,zsswqbRZEzQ,2019Q4,108,165.0,-57.0,34.545455,57.0,57.0,0.0,0.000000,no,0.0
813,zsswqbRZEzQ,2020Q1,106,192.0,-86.0,44.791667,86.0,85.0,1.0,1.176471,no,0.0
814,zsswqbRZEzQ,2020Q2,62,133.0,-71.0,53.383459,72.0,71.0,1.0,1.408451,no,1.0
815,zvicDsjeRbr,2019Q4,51,72.0,-21.0,29.166667,23.0,23.0,0.0,0.000000,no,2.0
817,zvicDsjeRbr,2020Q2,21,52.0,-31.0,59.615385,31.0,29.0,2.0,6.896552,no,0.0

In [446]:
rejected['new_percentage_difference']= abs(rejected['new_difference']/ rejected['total_datim_value_hts']* 100)
rejected

/tmp/ipykernel_56858/3389539700.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rejected['new_percentage_difference']= abs(rejected['new_difference']/ rejected['total_datim_value_hts']* 100)

,facilityuid,period,total_dhis2_value_hts,total_datim_value_hts,difference_hts,percentage_difference_hts,total_dhis2_value_pmtct,total_datim_value_pmtct,difference_pmtct,percentage_difference_pmtct,accept,new_difference,new_percentage_difference
2,AKCk8JAY0dK,2020Q2,101,149.0,-48.0,32.214765,49.0,49.0,0.0,0.000000,no,1.0,0.671141
3,AbSJUr5oge2,2019Q4,322,541.0,-219.0,40.480591,217.0,213.0,4.0,1.877934,no,-2.0,0.369686
4,AbSJUr5oge2,2020Q1,415,683.0,-268.0,39.238653,272.0,267.0,5.0,1.872659,no,4.0,0.585652
5,AbSJUr5oge2,2020Q2,255,483.0,-228.0,47.204969,229.0,223.0,6.0,2.690583,no,1.0,0.207039
6,B8Y8xuk4MFf,2019Q4,303,487.0,-184.0,37.782341,42.0,40.0,2.0,5.000000,no,-142.0,29.158111
...,...,...,...,...,...,...,...,...,...,...,...,...,...
812,zsswqbRZEzQ,2019Q4,108,165.0,-57.0,34.545455,57.0,57.0,0.0,0.000000,no,0.0,0.000000
813,zsswqbRZEzQ,2020Q1,106,192.0,-86.0,44.791667,86.0,85.0,1.0,1.176471,no,0.0,0.000000
814,zsswqbRZEzQ,2020Q2,62,133.0,-71.0,53.383459,72.0,71.0,1.0,1.408451,no,1.0,0.751880
815,zvicDsjeRbr,2019Q4,51,72.0,-21.0,29.166667,23.0,23.0,0.0,0.000000,no,2.0,2.777778
817,zvicDsjeRbr,2020Q2,21,52.0,-31.0,59.615385,31.0,29.0,2.0,6.896552,no,0.0,0.000000

In [447]:
new_cutoff = rejected["new_percentage_difference"].mean()
print(new_cutoff)
b = rejected[rejected['new_percentage_difference'] > new_cutoff]
b

11.483508617837547

,facilityuid,period,total_dhis2_value_hts,total_datim_value_hts,difference_hts,percentage_difference_hts,total_dhis2_value_pmtct,total_datim_value_pmtct,difference_pmtct,percentage_difference_pmtct,accept,new_difference,new_percentage_difference
6,B8Y8xuk4MFf,2019Q4,303,487.0,-184.0,37.782341,42.0,40.0,2.0,5.000000,no,-142.0,29.158111
15,BSIVRetkq9o,2019Q4,202,295.0,-93.0,31.525424,48.0,50.0,-2.0,4.000000,no,-45.0,15.254237
16,BSIVRetkq9o,2020Q1,191,293.0,-102.0,34.812287,59.0,58.0,1.0,1.724138,no,-43.0,14.675768
62,Dp9uga9zfqH,2019Q4,1298,1893.0,-595.0,31.431590,106.0,109.0,-3.0,2.752294,no,-489.0,25.832013
63,Dp9uga9zfqH,2020Q1,794,1179.0,-385.0,32.654792,121.0,119.0,2.0,1.680672,no,-264.0,22.391858
...,...,...,...,...,...,...,...,...,...,...,...,...,...
780,xaQ9Z2jrxRM,2019Q4,1125,402.0,723.0,179.850746,45.0,43.0,2.0,4.651163,no,768.0,191.044776
781,xaQ9Z2jrxRM,2020Q1,1091,305.0,786.0,257.704918,71.0,71.0,0.0,0.000000,no,857.0,280.983607
782,xaQ9Z2jrxRM,2020Q2,333,225.0,108.0,48.000000,58.0,57.0,1.0,1.754386,no,166.0,73.777778
783,xt2lltkTLza,2019Q4,414,1029.0,-615.0,59.766764,121.0,125.0,-4.0,3.200000,no,-494.0,48.007775
793,yanWZpO1esQ,2020Q1,946,647.0,299.0,46.213292,134.0,96.0,38.0,39.583333,no,433.0,66.924266

In [448]:
# define a lambda function with if-else conditions
rejected['new_accept'] = rejected['new_percentage_difference'].apply(lambda x: 'yes' if x < new_cutoff else 'no')
rejected

/tmp/ipykernel_56858/1373818787.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rejected['new_accept'] = rejected['new_percentage_difference'].apply(lambda x: 'yes' if x < new_cutoff else 'no')

,facilityuid,period,total_dhis2_value_hts,total_datim_value_hts,difference_hts,percentage_difference_hts,total_dhis2_value_pmtct,total_datim_value_pmtct,difference_pmtct,percentage_difference_pmtct,accept,new_difference,new_percentage_difference,new_accept
2,AKCk8JAY0dK,2020Q2,101,149.0,-48.0,32.214765,49.0,49.0,0.0,0.000000,no,1.0,0.671141,yes
3,AbSJUr5oge2,2019Q4,322,541.0,-219.0,40.480591,217.0,213.0,4.0,1.877934,no,-2.0,0.369686,yes
4,AbSJUr5oge2,2020Q1,415,683.0,-268.0,39.238653,272.0,267.0,5.0,1.872659,no,4.0,0.585652,yes
5,AbSJUr5oge2,2020Q2,255,483.0,-228.0,47.204969,229.0,223.0,6.0,2.690583,no,1.0,0.207039,yes
6,B8Y8xuk4MFf,2019Q4,303,487.0,-184.0,37.782341,42.0,40.0,2.0,5.000000,no,-142.0,29.158111,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
812,zsswqbRZEzQ,2019Q4,108,165.0,-57.0,34.545455,57.0,57.0,0.0,0.000000,no,0.0,0.000000,yes
813,zsswqbRZEzQ,2020Q1,106,192.0,-86.0,44.791667,86.0,85.0,1.0,1.176471,no,0.0,0.000000,yes
814,zsswqbRZEzQ,2020Q2,62,133.0,-71.0,53.383459,72.0,71.0,1.0,1.408451,no,1.0,0.751880,yes
815,zvicDsjeRbr,2019Q4,51,72.0,-21.0,29.166667,23.0,23.0,0.0,0.000000,no,2.0,2.777778,yes
817,zvicDsjeRbr,2020Q2,21,52.0,-31.0,59.615385,31.0,29.0,2.0,6.896552,no,0.0,0.000000,yes

In [449]:
rejected['accept'] = rejected['new_accept']
rejected

/tmp/ipykernel_56858/702123781.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rejected['accept'] = rejected['new_accept']

,facilityuid,period,total_dhis2_value_hts,total_datim_value_hts,difference_hts,percentage_difference_hts,total_dhis2_value_pmtct,total_datim_value_pmtct,difference_pmtct,percentage_difference_pmtct,accept,new_difference,new_percentage_difference,new_accept
2,AKCk8JAY0dK,2020Q2,101,149.0,-48.0,32.214765,49.0,49.0,0.0,0.000000,yes,1.0,0.671141,yes
3,AbSJUr5oge2,2019Q4,322,541.0,-219.0,40.480591,217.0,213.0,4.0,1.877934,yes,-2.0,0.369686,yes
4,AbSJUr5oge2,2020Q1,415,683.0,-268.0,39.238653,272.0,267.0,5.0,1.872659,yes,4.0,0.585652,yes
5,AbSJUr5oge2,2020Q2,255,483.0,-228.0,47.204969,229.0,223.0,6.0,2.690583,yes,1.0,0.207039,yes
6,B8Y8xuk4MFf,2019Q4,303,487.0,-184.0,37.782341,42.0,40.0,2.0,5.000000,no,-142.0,29.158111,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
812,zsswqbRZEzQ,2019Q4,108,165.0,-57.0,34.545455,57.0,57.0,0.0,0.000000,yes,0.0,0.000000,yes
813,zsswqbRZEzQ,2020Q1,106,192.0,-86.0,44.791667,86.0,85.0,1.0,1.176471,yes,0.0,0.000000,yes
814,zsswqbRZEzQ,2020Q2,62,133.0,-71.0,53.383459,72.0,71.0,1.0,1.408451,yes,1.0,0.751880,yes
815,zvicDsjeRbr,2019Q4,51,72.0,-21.0,29.166667,23.0,23.0,0.0,0.000000,yes,2.0,2.777778,yes
817,zvicDsjeRbr,2020Q2,21,52.0,-31.0,59.615385,31.0,29.0,2.0,6.896552,yes,0.0,0.000000,yes

In [450]:
merged_df = merged_df[merged_df['accept'] != 'no'].copy()
merged_df

,facilityuid,period,total_dhis2_value_hts,total_datim_value_hts,difference_hts,percentage_difference_hts,total_dhis2_value_pmtct,total_datim_value_pmtct,difference_pmtct,percentage_difference_pmtct,accept
0,AKCk8JAY0dK,2019Q4,168,200.0,-32.0,16.000000,31.0,31.0,0.0,0.000000,yes
1,AKCk8JAY0dK,2020Q1,234,280.0,-46.0,16.428571,46.0,46.0,0.0,0.000000,yes
7,B8Y8xuk4MFf,2020Q1,144,192.0,-48.0,25.000000,44.0,43.0,1.0,2.325581,yes
9,BEjIOW8DUVY,2019Q4,81,104.0,-23.0,22.115385,23.0,23.0,0.0,0.000000,yes
17,BSIVRetkq9o,2020Q2,136,186.0,-50.0,26.881720,58.0,56.0,2.0,3.571429,yes
...,...,...,...,...,...,...,...,...,...,...,...
810,zjvUyYZscbf,2020Q1,97,131.0,-34.0,25.954198,36.0,34.0,2.0,5.882353,yes
816,zvicDsjeRbr,2020Q1,32,44.0,-12.0,27.272727,20.0,20.0,0.0,0.000000,yes
818,zwV7ekHDAwe,2019Q4,739,890.0,-151.0,16.966292,66.0,66.0,0.0,0.000000,yes
819,zwV7ekHDAwe,2020Q1,455,510.0,-55.0,10.784314,93.0,85.0,8.0,9.411765,yes
820,zwV7ekHDAwe,2020Q2,396,333.0,63.0,18.918919,57.0,56.0,1.0,1.785714,yes

In [451]:
rejected.drop(['new_difference','new_percentage_difference', 'new_accept'], axis=1, inplace=True)
rejected

/tmp/ipykernel_56858/216251969.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rejected.drop(['new_difference','new_percentage_difference', 'new_accept'], axis=1, inplace=True)

,facilityuid,period,total_dhis2_value_hts,total_datim_value_hts,difference_hts,percentage_difference_hts,total_dhis2_value_pmtct,total_datim_value_pmtct,difference_pmtct,percentage_difference_pmtct,accept
2,AKCk8JAY0dK,2020Q2,101,149.0,-48.0,32.214765,49.0,49.0,0.0,0.000000,yes
3,AbSJUr5oge2,2019Q4,322,541.0,-219.0,40.480591,217.0,213.0,4.0,1.877934,yes
4,AbSJUr5oge2,2020Q1,415,683.0,-268.0,39.238653,272.0,267.0,5.0,1.872659,yes
5,AbSJUr5oge2,2020Q2,255,483.0,-228.0,47.204969,229.0,223.0,6.0,2.690583,yes
6,B8Y8xuk4MFf,2019Q4,303,487.0,-184.0,37.782341,42.0,40.0,2.0,5.000000,no
...,...,...,...,...,...,...,...,...,...,...,...
812,zsswqbRZEzQ,2019Q4,108,165.0,-57.0,34.545455,57.0,57.0,0.0,0.000000,yes
813,zsswqbRZEzQ,2020Q1,106,192.0,-86.0,44.791667,86.0,85.0,1.0,1.176471,yes
814,zsswqbRZEzQ,2020Q2,62,133.0,-71.0,53.383459,72.0,71.0,1.0,1.408451,yes
815,zvicDsjeRbr,2019Q4,51,72.0,-21.0,29.166667,23.0,23.0,0.0,0.000000,yes
817,zvicDsjeRbr,2020Q2,21,52.0,-31.0,59.615385,31.0,29.0,2.0,6.896552,yes

In [452]:
final_merge = pd.concat([merged_df, rejected], axis=0)
final_merge

,facilityuid,period,total_dhis2_value_hts,total_datim_value_hts,difference_hts,percentage_difference_hts,total_dhis2_value_pmtct,total_datim_value_pmtct,difference_pmtct,percentage_difference_pmtct,accept
0,AKCk8JAY0dK,2019Q4,168,200.0,-32.0,16.000000,31.0,31.0,0.0,0.000000,yes
1,AKCk8JAY0dK,2020Q1,234,280.0,-46.0,16.428571,46.0,46.0,0.0,0.000000,yes
7,B8Y8xuk4MFf,2020Q1,144,192.0,-48.0,25.000000,44.0,43.0,1.0,2.325581,yes
9,BEjIOW8DUVY,2019Q4,81,104.0,-23.0,22.115385,23.0,23.0,0.0,0.000000,yes
17,BSIVRetkq9o,2020Q2,136,186.0,-50.0,26.881720,58.0,56.0,2.0,3.571429,yes
...,...,...,...,...,...,...,...,...,...,...,...
812,zsswqbRZEzQ,2019Q4,108,165.0,-57.0,34.545455,57.0,57.0,0.0,0.000000,yes
813,zsswqbRZEzQ,2020Q1,106,192.0,-86.0,44.791667,86.0,85.0,1.0,1.176471,yes
814,zsswqbRZEzQ,2020Q2,62,133.0,-71.0,53.383459,72.0,71.0,1.0,1.408451,yes
815,zvicDsjeRbr,2019Q4,51,72.0,-21.0,29.166667,23.0,23.0,0.0,0.000000,yes
817,zvicDsjeRbr,2020Q2,21,52.0,-31.0,59.615385,31.0,29.0,2.0,6.896552,yes

In [453]:
len(final_merge[final_merge['accept'] == 'no'])

94