In [81]:
import pandas as pd
import numpy as np

In [82]:
hts = pd.read_csv("./clean_data/clean_hts.csv")
pmtct = pd.read_csv("./clean_data/merged_pmtct.csv")
hts.head(5)

,facilityuid,facility,code,ward,sub_county,county,indicator,period,dhis2_value,datim_value,gender,age
0,aCOEeeYEcsO,Rabondo Dispensary,14019,West sakwa Ward,Awendo Sub County,Migori County,JiuqbydCIcy,2019Q4,33,87.0,(F),20-24
1,aCOEeeYEcsO,Rabondo Dispensary,14019,West sakwa Ward,Awendo Sub County,Migori County,OePJt8CcZ0d,2020Q1,14,13.0,NaN,1-9
2,aWpElDmioIw,Kuja Dispensary,13724,North sakwa Ward,Awendo Sub County,Migori County,JiuqbydCIcy,2019Q4,15,53.0,(F),20-24
3,aWpElDmioIw,Kuja Dispensary,13724,North sakwa Ward,Awendo Sub County,Migori County,pkShOkgNQt2,2020Q2,9,10.0,(M),20-24
4,aWpElDmioIw,Kuja Dispensary,13724,North sakwa Ward,Awendo Sub County,Migori County,YXJf27jfkvS,2019Q4,7,39.0,(F),15-19

In [83]:
hts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6992 entries, 0 to 6991
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   facilityuid  6992 non-null   object
 1   facility     6992 non-null   object
 2   code         6992 non-null   int64
 3   ward         6992 non-null   object
 4   sub_county   6992 non-null   object
 5   county       6992 non-null   object
 6   indicator    6992 non-null   object
 7   period       6992 non-null   object
 8   dhis2_value  6992 non-null   int64
 9   datim_value  6881 non-null   float64
 10  gender       6232 non-null   object
 11  age          6992 non-null   object
dtypes: float64(1), int64(2), object(9)
memory usage: 655.6+ KB

In [84]:
hts.describe()

               code  dhis2_value  datim_value
count   6992.000000  6992.000000  6881.000000
mean   15702.614130    34.188787    42.684348
std     1796.601517    74.502902    77.882341
min    13467.000000     1.000000     1.000000
25%    13998.000000     5.000000     6.000000
50%    15955.000000    14.000000    19.000000
75%    16141.000000    38.000000    51.000000
max    24341.000000  2667.000000  2439.000000

In [85]:
hts.isnull().sum()

facilityuid      0
facility         0
code             0
ward             0
sub_county       0
county           0
indicator        0
period           0
dhis2_value      0
datim_value    111
gender         760
age              0
dtype: int64

In [86]:
# hts['datim_value'].fillna(0, inplace= True)
hts = pmtct.dropna(how="any")
hts

,facilityuid,facility,code,ward,sub_county,county,indicator,indicator_name,period,dhis2_value,datim_value
0,SZnkrFoimi2,Kugitimo Health Centre,13723.0,Nyabasi east Ward,Kuria East Sub County,Migori County,ETX9cUWF43c,MOH 731 Initial test at ANC HV02-04,2020Q1,64.0,64.0
1,xt2lltkTLza,Ntimaru Sub-District Hospital,13858.0,Ntimaru west Ward,Kuria East Sub County,Migori County,ETX9cUWF43c,MOH 731 Initial test at ANC HV02-04,2019Q4,119.0,124.0
2,NoZjHcIDHGW,Kegonga District Hospital,13663.0,Nyabasi east Ward,Kuria East Sub County,Migori County,qSgLzXh46n9,MOH 731 Known Positive at 1st ANC HV02-03,2020Q2,1.0,1.0
3,SZnkrFoimi2,Kugitimo Health Centre,13723.0,Nyabasi east Ward,Kuria East Sub County,Migori County,ETX9cUWF43c,MOH 731 Initial test at ANC HV02-04,2020Q2,46.0,45.0
4,xt2lltkTLza,Ntimaru Sub-District Hospital,13858.0,Ntimaru west Ward,Kuria East Sub County,Migori County,ETX9cUWF43c,MOH 731 Initial test at ANC HV02-04,2020Q1,194.0,191.0
...,...,...,...,...,...,...,...,...,...,...,...
1646,XGZfxVpbX5c,Butere Iranda Health Centre,18939.0,Marama West Ward,Butere Sub County,Kakamega County,ETX9cUWF43c,MOH 731 Initial test at ANC HV02-04,2020Q2,45.0,44.0
1647,f6tOBNIJ0HW,Amaiga Dispensary (Manga),20684.0,Chemuche Ward,Malava Sub County,Kakamega County,qSgLzXh46n9,MOH 731 Known Positive at 1st ANC HV02-03,2020Q2,1.0,1.0
1648,f6tOBNIJ0HW,Amaiga Dispensary (Manga),20684.0,Chemuche Ward,Malava Sub County,Kakamega County,ETX9cUWF43c,MOH 731 Initial test at ANC HV02-04,2020Q2,39.0,39.0
1649,XGZfxVpbX5c,Butere Iranda Health Centre,18939.0,Marama West Ward,Butere Sub County,Kakamega County,ETX9cUWF43c,MOH 731 Initial test at ANC HV02-04,2019Q4,31.0,29.0
1650,XGZfxVpbX5c,Butere Iranda Health Centre,18939.0,Marama West Ward,Butere Sub County,Kakamega County,ETX9cUWF43c,MOH 731 Initial test at ANC HV02-04,2020Q1,51.0,50.0

In [87]:
hts.isnull().sum()

facilityuid       0
facility          0
code              0
ward              0
sub_county        0
county            0
indicator         0
indicator_name    0
period            0
dhis2_value       0
datim_value       0
dtype: int64

In [88]:
hts.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1432 entries, 0 to 1650
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   facilityuid     1432 non-null   object
 1   facility        1432 non-null   object
 2   code            1432 non-null   float64
 3   ward            1432 non-null   object
 4   sub_county      1432 non-null   object
 5   county          1432 non-null   object
 6   indicator       1432 non-null   object
 7   indicator_name  1432 non-null   object
 8   period          1432 non-null   object
 9   dhis2_value     1432 non-null   float64
 10  datim_value     1432 non-null   float64
dtypes: float64(3), object(8)
memory usage: 134.2+ KB

In [89]:
pmtct.head()

,facilityuid,facility,code,ward,sub_county,county,indicator,indicator_name,period,dhis2_value,datim_value
0,SZnkrFoimi2,Kugitimo Health Centre,13723.0,Nyabasi east Ward,Kuria East Sub County,Migori County,ETX9cUWF43c,MOH 731 Initial test at ANC HV02-04,2020Q1,64.0,64.0
1,xt2lltkTLza,Ntimaru Sub-District Hospital,13858.0,Ntimaru west Ward,Kuria East Sub County,Migori County,ETX9cUWF43c,MOH 731 Initial test at ANC HV02-04,2019Q4,119.0,124.0
2,NoZjHcIDHGW,Kegonga District Hospital,13663.0,Nyabasi east Ward,Kuria East Sub County,Migori County,qSgLzXh46n9,MOH 731 Known Positive at 1st ANC HV02-03,2020Q2,1.0,1.0
3,SZnkrFoimi2,Kugitimo Health Centre,13723.0,Nyabasi east Ward,Kuria East Sub County,Migori County,ETX9cUWF43c,MOH 731 Initial test at ANC HV02-04,2020Q2,46.0,45.0
4,xt2lltkTLza,Ntimaru Sub-District Hospital,13858.0,Ntimaru west Ward,Kuria East Sub County,Migori County,ETX9cUWF43c,MOH 731 Initial test at ANC HV02-04,2020Q1,194.0,191.0

In [90]:
pmtct.describe()

               code  dhis2_value  datim_value
count   1445.000000  1445.000000  1432.000000
mean   15597.040138    47.629066    47.084497
std     1667.573022    67.979390    67.055443
min    13467.000000     1.000000     1.000000
25%    13998.000000     5.000000     5.000000
50%    15940.000000    24.000000    24.000000
75%    16121.000000    62.000000    62.000000
max    20684.000000   588.000000   581.000000

In [91]:
pmtct.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1651 entries, 0 to 1650
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   facilityuid     1445 non-null   object
 1   facility        1445 non-null   object
 2   code            1445 non-null   float64
 3   ward            1445 non-null   object
 4   sub_county      1445 non-null   object
 5   county          1445 non-null   object
 6   indicator       1445 non-null   object
 7   indicator_name  1445 non-null   object
 8   period          1445 non-null   object
 9   dhis2_value     1445 non-null   float64
 10  datim_value     1432 non-null   float64
dtypes: float64(3), object(8)
memory usage: 142.0+ KB

In [92]:
pmtct.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1651 entries, 0 to 1650
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   facilityuid     1445 non-null   object
 1   facility        1445 non-null   object
 2   code            1445 non-null   float64
 3   ward            1445 non-null   object
 4   sub_county      1445 non-null   object
 5   county          1445 non-null   object
 6   indicator       1445 non-null   object
 7   indicator_name  1445 non-null   object
 8   period          1445 non-null   object
 9   dhis2_value     1445 non-null   float64
 10  datim_value     1432 non-null   float64
dtypes: float64(3), object(8)
memory usage: 142.0+ KB

In [93]:
pmtct.describe()

               code  dhis2_value  datim_value
count   1445.000000  1445.000000  1432.000000
mean   15597.040138    47.629066    47.084497
std     1667.573022    67.979390    67.055443
min    13467.000000     1.000000     1.000000
25%    13998.000000     5.000000     5.000000
50%    15940.000000    24.000000    24.000000
75%    16121.000000    62.000000    62.000000
max    20684.000000   588.000000   581.000000

In [94]:
pmtct = pmtct.dropna(how="any")
pmtct

,facilityuid,facility,code,ward,sub_county,county,indicator,indicator_name,period,dhis2_value,datim_value
0,SZnkrFoimi2,Kugitimo Health Centre,13723.0,Nyabasi east Ward,Kuria East Sub County,Migori County,ETX9cUWF43c,MOH 731 Initial test at ANC HV02-04,2020Q1,64.0,64.0
1,xt2lltkTLza,Ntimaru Sub-District Hospital,13858.0,Ntimaru west Ward,Kuria East Sub County,Migori County,ETX9cUWF43c,MOH 731 Initial test at ANC HV02-04,2019Q4,119.0,124.0
2,NoZjHcIDHGW,Kegonga District Hospital,13663.0,Nyabasi east Ward,Kuria East Sub County,Migori County,qSgLzXh46n9,MOH 731 Known Positive at 1st ANC HV02-03,2020Q2,1.0,1.0
3,SZnkrFoimi2,Kugitimo Health Centre,13723.0,Nyabasi east Ward,Kuria East Sub County,Migori County,ETX9cUWF43c,MOH 731 Initial test at ANC HV02-04,2020Q2,46.0,45.0
4,xt2lltkTLza,Ntimaru Sub-District Hospital,13858.0,Ntimaru west Ward,Kuria East Sub County,Migori County,ETX9cUWF43c,MOH 731 Initial test at ANC HV02-04,2020Q1,194.0,191.0
...,...,...,...,...,...,...,...,...,...,...,...
1646,XGZfxVpbX5c,Butere Iranda Health Centre,18939.0,Marama West Ward,Butere Sub County,Kakamega County,ETX9cUWF43c,MOH 731 Initial test at ANC HV02-04,2020Q2,45.0,44.0
1647,f6tOBNIJ0HW,Amaiga Dispensary (Manga),20684.0,Chemuche Ward,Malava Sub County,Kakamega County,qSgLzXh46n9,MOH 731 Known Positive at 1st ANC HV02-03,2020Q2,1.0,1.0
1648,f6tOBNIJ0HW,Amaiga Dispensary (Manga),20684.0,Chemuche Ward,Malava Sub County,Kakamega County,ETX9cUWF43c,MOH 731 Initial test at ANC HV02-04,2020Q2,39.0,39.0
1649,XGZfxVpbX5c,Butere Iranda Health Centre,18939.0,Marama West Ward,Butere Sub County,Kakamega County,ETX9cUWF43c,MOH 731 Initial test at ANC HV02-04,2019Q4,31.0,29.0
1650,XGZfxVpbX5c,Butere Iranda Health Centre,18939.0,Marama West Ward,Butere Sub County,Kakamega County,ETX9cUWF43c,MOH 731 Initial test at ANC HV02-04,2020Q1,51.0,50.0

In [95]:
hts_df = hts.groupby(['facilityuid', 'period']).agg({'dhis2_value': 'sum', 'datim_value': 'sum'})

# print the resulting dataframe
print(hts_df)

                    dhis2_value  datim_value
facilityuid period
AKCk8JAY0dK 2019Q4         31.0         31.0
            2020Q1         46.0         46.0
            2020Q2         49.0         49.0
AbSJUr5oge2 2019Q4        217.0        213.0
            2020Q1        272.0        267.0
...                         ...          ...
zvicDsjeRbr 2020Q1         20.0         20.0
            2020Q2         31.0         29.0
zwV7ekHDAwe 2019Q4         66.0         66.0
            2020Q1         93.0         85.0
            2020Q2         57.0         56.0

[821 rows x 2 columns]

In [96]:
hts_df = hts_df.reset_index()
hts_df

     facilityuid  period  dhis2_value  datim_value
0    AKCk8JAY0dK  2019Q4         31.0         31.0
1    AKCk8JAY0dK  2020Q1         46.0         46.0
2    AKCk8JAY0dK  2020Q2         49.0         49.0
3    AbSJUr5oge2  2019Q4        217.0        213.0
4    AbSJUr5oge2  2020Q1        272.0        267.0
..           ...     ...          ...          ...
816  zvicDsjeRbr  2020Q1         20.0         20.0
817  zvicDsjeRbr  2020Q2         31.0         29.0
818  zwV7ekHDAwe  2019Q4         66.0         66.0
819  zwV7ekHDAwe  2020Q1         93.0         85.0
820  zwV7ekHDAwe  2020Q2         57.0         56.0

[821 rows x 4 columns]

In [97]:
hts_df = hts_df.rename(columns={'dhis2_value': 'total_dhis2_value', 'datim_value': 'total_datim_value'})
hts_df

     facilityuid  period  total_dhis2_value  total_datim_value
0    AKCk8JAY0dK  2019Q4               31.0               31.0
1    AKCk8JAY0dK  2020Q1               46.0               46.0
2    AKCk8JAY0dK  2020Q2               49.0               49.0
3    AbSJUr5oge2  2019Q4              217.0              213.0
4    AbSJUr5oge2  2020Q1              272.0              267.0
..           ...     ...                ...                ...
816  zvicDsjeRbr  2020Q1               20.0               20.0
817  zvicDsjeRbr  2020Q2               31.0               29.0
818  zwV7ekHDAwe  2019Q4               66.0               66.0
819  zwV7ekHDAwe  2020Q1               93.0               85.0
820  zwV7ekHDAwe  2020Q2               57.0               56.0

[821 rows x 4 columns]

In [98]:
hts_df["difference"] = hts_df["total_dhis2_value"] - hts_df["total_datim_value"]
hts_df

     facilityuid  period  total_dhis2_value  total_datim_value  difference
0    AKCk8JAY0dK  2019Q4               31.0               31.0         0.0
1    AKCk8JAY0dK  2020Q1               46.0               46.0         0.0
2    AKCk8JAY0dK  2020Q2               49.0               49.0         0.0
3    AbSJUr5oge2  2019Q4              217.0              213.0         4.0
4    AbSJUr5oge2  2020Q1              272.0              267.0         5.0
..           ...     ...                ...                ...         ...
816  zvicDsjeRbr  2020Q1               20.0               20.0         0.0
817  zvicDsjeRbr  2020Q2               31.0               29.0         2.0
818  zwV7ekHDAwe  2019Q4               66.0               66.0         0.0
819  zwV7ekHDAwe  2020Q1               93.0               85.0         8.0
820  zwV7ekHDAwe  2020Q2               57.0               56.0         1.0

[821 rows x 5 columns]

In [99]:
hts_df["percentage_difference"] = abs((hts_df["difference"] / hts_df["total_datim_value"]) * 100)
hts_df

,facilityuid,period,total_dhis2_value,total_datim_value,difference,percentage_difference
0,AKCk8JAY0dK,2019Q4,31.0,31.0,0.0,0.000000
1,AKCk8JAY0dK,2020Q1,46.0,46.0,0.0,0.000000
2,AKCk8JAY0dK,2020Q2,49.0,49.0,0.0,0.000000
3,AbSJUr5oge2,2019Q4,217.0,213.0,4.0,1.877934
4,AbSJUr5oge2,2020Q1,272.0,267.0,5.0,1.872659
...,...,...,...,...,...,...
816,zvicDsjeRbr,2020Q1,20.0,20.0,0.0,0.000000
817,zvicDsjeRbr,2020Q2,31.0,29.0,2.0,6.896552
818,zwV7ekHDAwe,2019Q4,66.0,66.0,0.0,0.000000
819,zwV7ekHDAwe,2020Q1,93.0,85.0,8.0,9.411765
820,zwV7ekHDAwe,2020Q2,57.0,56.0,1.0,1.785714

In [100]:
pmtct_df = pmtct.groupby(['facilityuid', 'period']).agg({'dhis2_value': 'sum', 'datim_value': 'sum'})

# print the resulting dataframe
print(pmtct)

      facilityuid                       facility     code               ward  \
0     SZnkrFoimi2         Kugitimo Health Centre  13723.0  Nyabasi east Ward
1     xt2lltkTLza  Ntimaru Sub-District Hospital  13858.0  Ntimaru west Ward
2     NoZjHcIDHGW      Kegonga District Hospital  13663.0  Nyabasi east Ward
3     SZnkrFoimi2         Kugitimo Health Centre  13723.0  Nyabasi east Ward
4     xt2lltkTLza  Ntimaru Sub-District Hospital  13858.0  Ntimaru west Ward
...           ...                            ...      ...                ...
1646  XGZfxVpbX5c    Butere Iranda Health Centre  18939.0   Marama West Ward
1647  f6tOBNIJ0HW      Amaiga Dispensary (Manga)  20684.0      Chemuche Ward
1648  f6tOBNIJ0HW      Amaiga Dispensary (Manga)  20684.0      Chemuche Ward
1649  XGZfxVpbX5c    Butere Iranda Health Centre  18939.0   Marama West Ward
1650  XGZfxVpbX5c    Butere Iranda Health Centre  18939.0   Marama West Ward

                 sub_county           county    indicator  \
0     Kuria East Sub County    Migori County  ETX9cUWF43c
1     Kuria East Sub County    Migori County  ETX9cUWF43c
2     Kuria East Sub County    Migori County  qSgLzXh46n9
3     Kuria East Sub County    Migori County  ETX9cUWF43c
4     Kuria East Sub County    Migori County  ETX9cUWF43c
...                     ...              ...          ...
1646      Butere Sub County  Kakamega County  ETX9cUWF43c
1647      Malava Sub County  Kakamega County  qSgLzXh46n9
1648      Malava Sub County  Kakamega County  ETX9cUWF43c
1649      Butere Sub County  Kakamega County  ETX9cUWF43c
1650      Butere Sub County  Kakamega County  ETX9cUWF43c

                                         indicator_name  period  dhis2_value  \
0            MOH 731  Initial test at ANC       HV02-04  2020Q1         64.0
1            MOH 731  Initial test at ANC       HV02-04  2019Q4        119.0
2     MOH 731  Known Positive at 1st  ANC       HV02-03  2020Q2          1.0
3            MOH 731  Initial test at ANC       HV02-04  2020Q2         46.0
4            MOH 731  Initial test at ANC       HV02-04  2020Q1        194.0
...                                                 ...     ...          ...
1646         MOH 731  Initial test at ANC       HV02-04  2020Q2         45.0
1647  MOH 731  Known Positive at 1st  ANC       HV02-03  2020Q2          1.0
1648         MOH 731  Initial test at ANC       HV02-04  2020Q2         39.0
1649         MOH 731  Initial test at ANC       HV02-04  2019Q4         31.0
1650         MOH 731  Initial test at ANC       HV02-04  2020Q1         51.0

      datim_value
0            64.0
1           124.0
2             1.0
3            45.0
4           191.0
...           ...
1646         44.0
1647          1.0
1648         39.0
1649         29.0
1650         50.0

[1432 rows x 11 columns]

In [101]:
pmtct_df = pmtct_df.rename(columns={'dhis2_value': 'total_pmtct_dhis2_value', 'datim_value': 'total_pmtct_datim_value'})
pmtct_df

                    total_pmtct_dhis2_value  total_pmtct_datim_value
facilityuid period
AKCk8JAY0dK 2019Q4                     31.0                     31.0
            2020Q1                     46.0                     46.0
            2020Q2                     49.0                     49.0
AbSJUr5oge2 2019Q4                    217.0                    213.0
            2020Q1                    272.0                    267.0
...                                     ...                      ...
zvicDsjeRbr 2020Q1                     20.0                     20.0
            2020Q2                     31.0                     29.0
zwV7ekHDAwe 2019Q4                     66.0                     66.0
            2020Q1                     93.0                     85.0
            2020Q2                     57.0                     56.0

[821 rows x 2 columns]

In [102]:
pmtct_df = pmtct_df.reset_index()
pmtct_df

     facilityuid  period  total_pmtct_dhis2_value  total_pmtct_datim_value
0    AKCk8JAY0dK  2019Q4                     31.0                     31.0
1    AKCk8JAY0dK  2020Q1                     46.0                     46.0
2    AKCk8JAY0dK  2020Q2                     49.0                     49.0
3    AbSJUr5oge2  2019Q4                    217.0                    213.0
4    AbSJUr5oge2  2020Q1                    272.0                    267.0
..           ...     ...                      ...                      ...
816  zvicDsjeRbr  2020Q1                     20.0                     20.0
817  zvicDsjeRbr  2020Q2                     31.0                     29.0
818  zwV7ekHDAwe  2019Q4                     66.0                     66.0
819  zwV7ekHDAwe  2020Q1                     93.0                     85.0
820  zwV7ekHDAwe  2020Q2                     57.0                     56.0

[821 rows x 4 columns]

In [103]:
merged_data = pd.merge(hts_df, pmtct_df, on=["facilityuid", "period"])
merged_data

,facilityuid,period,total_dhis2_value,total_datim_value,difference,percentage_difference,total_pmtct_dhis2_value,total_pmtct_datim_value
0,AKCk8JAY0dK,2019Q4,31.0,31.0,0.0,0.000000,31.0,31.0
1,AKCk8JAY0dK,2020Q1,46.0,46.0,0.0,0.000000,46.0,46.0
2,AKCk8JAY0dK,2020Q2,49.0,49.0,0.0,0.000000,49.0,49.0
3,AbSJUr5oge2,2019Q4,217.0,213.0,4.0,1.877934,217.0,213.0
4,AbSJUr5oge2,2020Q1,272.0,267.0,5.0,1.872659,272.0,267.0
...,...,...,...,...,...,...,...,...
816,zvicDsjeRbr,2020Q1,20.0,20.0,0.0,0.000000,20.0,20.0
817,zvicDsjeRbr,2020Q2,31.0,29.0,2.0,6.896552,31.0,29.0
818,zwV7ekHDAwe,2019Q4,66.0,66.0,0.0,0.000000,66.0,66.0
819,zwV7ekHDAwe,2020Q1,93.0,85.0,8.0,9.411765,93.0,85.0
820,zwV7ekHDAwe,2020Q2,57.0,56.0,1.0,1.785714,57.0,56.0

In [104]:
merged_data = merged_data.drop("index", axis=1)
merged_data

KeyError: "['index'] not found in axis"

In [ ]:
# len(merged_data[merged_data['percentage_difference'] > 30])
cutoff = merged_data["percentage_difference"].mean()

z = merged_data[merged_data['percentage_difference'] > cutoff]
z

,facilityuid,period,total_dhis2_value,total_datim_value,difference,percentage_difference,total_pmtct_dhis2_value,total_pmtct_datim_value
26,EzccfHE7VSe,2019Q4,14.0,13.0,1.0,7.692308,14.0,13.0
28,EzccfHE7VSe,2020Q2,19.0,26.0,-7.0,26.923077,19.0,26.0
29,FH1lPSOnK9z,2019Q4,37.0,53.0,-16.0,30.188679,37.0,53.0
37,FpS8TixqWn4,2020Q1,51.0,40.0,11.0,27.500000,51.0,40.0
45,G4FemD36hGF,2019Q4,34.0,47.0,-13.0,27.659574,34.0,47.0
46,G4FemD36hGF,2020Q1,38.0,59.0,-21.0,35.593220,38.0,59.0
48,GNwx6r3BZ8O,2019Q4,10.0,8.0,2.0,25.000000,10.0,8.0
50,GNwx6r3BZ8O,2020Q2,2.0,4.0,-2.0,50.000000,2.0,4.0
52,H8zbf1TS3qy,2020Q1,59.0,54.0,5.0,9.259259,59.0,54.0
57,I2z6MT7pHrX,2019Q4,28.0,42.0,-14.0,33.333333,28.0,42.0
60,IH4gWpzva9S,2019Q4,27.0,25.0,2.0,8.000000,27.0,25.0
63,ImG6wgclN06,2019Q4,81.0,120.0,-39.0,32.500000,81.0,120.0
68,JJHQ16uTrPX,2020Q2,53.0,41.0,12.0,29.268293,53.0,41.0
78,KpXqE32Rm1d,2019Q4,30.0,26.0,4.0,15.384615,30.0,26.0
80,KpXqE32Rm1d,2020Q2,28.0,25.0,3.0,12.000000,28.0,25.0
82,LFBf0WwBzaX,2020Q1,101.0,93.0,8.0,8.602151,101.0,93.0
83,LFBf0WwBzaX,2020Q2,62.0,92.0,-30.0,32.608696,62.0,92.0
84,LGgFPRuWpws,2019Q4,42.0,50.0,-8.0,16.000000,42.0,50.0
92,LYR8fhhFOaQ,2020Q2,32.0,29.0,3.0,10.344828,32.0,29.0
94,MQcFGwW1QsE,2020Q1,40.0,49.0,-9.0,18.367347,40.0,49.0
102,NRf14PUD9xc,2019Q4,141.0,129.0,12.0,9.302326,141.0,129.0
126,QzrC7FpTOCf,2019Q4,9.0,8.0,1.0,12.500000,9.0,8.0
127,QzrC7FpTOCf,2020Q1,12.0,11.0,1.0,9.090909,12.0,11.0
129,RPdnWtp0vRd,2019Q4,5.0,4.0,1.0,25.000000,5.0,4.0
130,RPdnWtp0vRd,2020Q1,20.0,26.0,-6.0,23.076923,20.0,26.0
131,RPdnWtp0vRd,2020Q2,12.0,11.0,1.0,9.090909,12.0,11.0
139,SPfT81d1gVx,2020Q1,75.0,81.0,-6.0,7.407407,75.0,81.0
140,SPfT81d1gVx,2020Q2,45.0,60.0,-15.0,25.000000,45.0,60.0
144,Sepsy4Bb35C,2019Q4,90.0,77.0,13.0,16.883117,90.0,77.0
157,UY3IInX1rgt,2020Q1,15.0,13.0,2.0,15.384615,15.0,13.0
163,Uvv85m35TMs,2020Q1,55.0,60.0,-5.0,8.333333,55.0,60.0
164,Uvv85m35TMs,2020Q2,32.0,52.0,-20.0,38.461538,32.0,52.0
169,WDe0umtdbif,2020Q1,17.0,11.0,6.0,54.545455,17.0,11.0
170,WDe0umtdbif,2020Q2,25.0,14.0,11.0,78.571429,25.0,14.0
210,aWpElDmioIw,2019Q4,22.0,27.0,-5.0,18.518519,22.0,27.0
215,bi747puqsrA,2020Q2,30.0,27.0,3.0,11.111111,30.0,27.0
221,cZQlPWrhosA,2020Q2,38.0,43.0,-5.0,11.627907,38.0,43.0
225,cdSguOsrorH,2019Q4,24.0,45.0,-21.0,46.666667,24.0,45.0
232,dW7oScLnDy2,2020Q1,23.0,21.0,2.0,9.523810,23.0,21.0
250,fzoNOK6Nrqc,2020Q1,54.0,63.0,-9.0,14.285714,54.0,63.0
261,ghUdW9zdUuu,2019Q4,59.0,18.0,41.0,227.777778,59.0,18.0
262,ghUdW9zdUuu,2020Q1,11.0,16.0,-5.0,31.250000,11.0,16.0
264,hHb5SzuuyHK,2019Q4,65.0,51.0,14.0,27.450980,65.0,51.0
285,kVVmxGZKCfA,2019Q4,37.0,65.0,-28.0,43.076923,37.0,65.0
294,mQbyKWUNKMs,2019Q4,32.0,8.0,24.0,300.000000,32.0,8.0
300,nNxsnNursRY,2019Q4,45.0,30.0,15.0,50.000000,45.0,30.0
302,nNxsnNursRY,2020Q2,39.0,36.0,3.0,8.333333,39.0,36.0
303,naa6PTuNZM4,2019Q4,12.0,20.0,-8.0,40.000000,12.0,20.0
304,naa6PTuNZM4,2020Q1,10.0,9.0,1.0,11.111111,10.0,9.0
305,naa6PTuNZM4,2020Q2,11.0,10.0,1.0,10.000000,11.0,10.0
312,orKDpItM56v,2019Q4,30.0,43.0,-13.0,30.232558,30.0,43.0
321,q3Hiw70svzH,2019Q4,34.0,44.0,-10.0,22.727273,34.0,44.0
325,sAMKlirWAu6,2020Q1,60.0,73.0,-13.0,17.808219,60.0,73.0
332,sJHMc412zV6,2020Q2,51.0,46.0,5.0,10.869565,51.0,46.0
333,sR008hvpu5e,2019Q4,20.0,10.0,10.0,100.000000,20.0,10.0
334,sR008hvpu5e,2020Q1,11.0,7.0,4.0,57.142857,11.0,7.0
345,xa8ZMxIarv6,2019Q4,56.0,69.0,-13.0,18.840580,56.0,69.0
346,xa8ZMxIarv6,2020Q1,92.0,85.0,7.0,8.235294,92.0,85.0
358,zwV7ekHDAwe,2020Q1,93.0,85.0,8.0,9.411765,93.0,85.0

In [ ]:
merged_data.describe()

,total_dhis2_value,total_datim_value,difference,percentage_difference,total_pmtct_dhis2_value,total_pmtct_datim_value
count,360.000000,360.000000,360.000000,360.000000,360.000000,360.000000
mean,75.741667,74.550000,1.191667,7.158811,75.741667,74.550000
std,68.231193,65.963928,6.217008,22.344105,68.231193,65.963928
min,1.000000,1.000000,-39.000000,0.000000,1.000000,1.000000
25%,37.000000,37.000000,0.000000,0.000000,37.000000,37.000000
50%,54.000000,53.500000,1.000000,2.439024,54.000000,53.500000
75%,90.250000,85.500000,3.000000,5.263158,90.250000,85.500000
max,496.000000,465.000000,41.000000,300.000000,496.000000,465.000000

In [ ]:
# define a lambda function with if-else conditions
def accept(x):
    if x < 5:
        return 'yes'
    else:

        return 'no'


# apply the lambda function to the 'score' column and assign the result to a new column 'grade'
merged_data['accept'] = df['percentage_difference'].apply(lambda x: accept(x))
df